<footer class="footer-section text-white">
  <div class="container py-5">
    <div class="row text-center">

      <div class="col-md-4 mb-4">
        <p class="fw-bold fs-6">POLÍTICA BOLSA GARANTIDA</p>
        <img
          src="assets/icons/bolsa-protecao.png"
          alt="Ícone bolsa"
          class="my-3"
          width="80"
        />
        <p class="text text-white-50">
          Seu filho na escola ou seu dinheiro de volta
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <p class="fw-bold fs-6">ACESSE O SISTEMA</p>
        <div class="user">
          <a class="text text-white-50" href="#">
            <i class="bi bi-person-circle"></i>
            <p class="text mg text-white-50 fw-light">
              Faça aqui o seu
              <a
                routerLink="/login"
                class="text text-decoration-none fw-semibold text-white-50"
                >login</a
              >
              aqui
            </p>
          </a>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <img src="assets/icons/logol2.png" alt="logo Prol Educa" width="160" />
        <p class="text-white-50">
          <strong class="text-white">Endereço:</strong> R. do Bom Jesus, 237 -
          Recife, PE, 50030-170.
          <a
            class="text-decoration-none text-white-50"
            href="https://maps.app.goo.gl/zsBKYBjrebckS6nN8"
            ><i class="bi bi-box-arrow-up-right"></i
          ></a>
        </p>
      </div>
    </div>

    <div class="footer-links">
      <div>
        <p class="title">Institucional</p>
        <ul class="text">
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Termos de Uso</a></li>
          <li><a href="#">Como Funciona</a></li>
          <li><a href="#">Principais Dúvidas</a></li>
        </ul>
      </div>
      <div>
        <p class="title">Explore</p>
        <ul class="text">
          <li><a href="#">Depoimentos</a></li>
        </ul>
      </div>
      <div>
        <p class="title">Contato</p>
        <ul class="text">
          <li><a href="#">Fale Conosco</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
