/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

mat-icon {
  line-height: 1;
  overflow: visible;
}
// Pagination styles

.pagination .page-link {
  color: #495057;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #0A0A5A;
  border-color: #0A0A5A;
}

.pagination .page-item.active .page-link {
  background-color: #0A0A5A;
  border-color: #0A0A5A;
  color: #fff;
}


// tables styles

.table td,
.table th {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}

.table p,
.table div {
  margin: 0;
}

.table tbody tr {
  line-height: 1.2;
}

td ul {
  list-style: disc;
  padding-left: 1rem;
  margin: 0;
}
