/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

mat-icon {
  line-height: 1;
  overflow: visible;
}
// Pagination styles

.pagination .page-link {
  color: #495057;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #0A0A5A;
  border-color: #0A0A5A;
}

.pagination .page-item.active .page-link {
  background-color: #0A0A5A;
  border-color: #0A0A5A;
  color: #fff;
}

