/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

mat-icon {
  line-height: 1;
  overflow: visible;
}
// Pagination styles

.pagination {
  justify-content: center;

  .page-item {
    margin: 0 4px;

    .page-link {
      padding: 8px 16px;
      font-size: 1rem;
    }
  }
}

.pagination .page-link {
  color: #495057;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #0a0a5a;
  border-color: #0a0a5a;
}

.pagination .page-item.active .page-link {
  background-color: #0a0a5a;
  border-color: #0a0a5a;
  color: #fff;
}

@media (max-width: 568px) {
  .pagination {
    .page-item {
      margin: 0 2px;

      .page-link {
        padding: 4px 8px;
        font-size: 0.8rem;
      }
    }
  }
}

// tables styles

.table td,
.table th {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}

.table p,
.table div {
  margin: 0;
}

.table tbody tr {
  line-height: 1.2;
}

td ul {
  list-style: disc;
  padding-left: 1rem;
  margin: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}
