header {
  border-bottom: 2px solid #ddd;
  background-color:white;
  padding-left:15px;
  padding:15px;

}
.container-header {
  margin: 16px 40px 6px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 60%;
  height: 60%;
  margin-bottom: 16px;
  cursor: pointer;
}
.container-nav {
  display: flex;
  align-items: center;
  flex-direction: row;

  nav {
    margin-right: 20px;
  }
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  cursor: pointer;
}

.nav-links {
  color: #3c3a3a;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}

.nav-links:hover {
  background-color: #d9d9d9;
  color: #757575;
  transition: 0.4s;
}

li:last-child {
  margin-right: 1rem;
}
