<header>
  <div class="container-header">
    <!-- Logo principal (visível apenas no desktop) -->
    <div class="logo">
      <a href="#"><img src="assets/logo-edupass.svg" alt="logo Prol Educa" /></a>
    </div>

    <!-- Logo mini (visível apenas no mobile) -->
    <div class="logo-mini">
      <a href="#"><img src="assets/SIMBOLOEDUPASS.svg" alt="logo Prol Educa" /></a>
    </div>

    <!-- Container de navegação -->
    <div class="container-nav" [class.open]="isMenuOpen">
      <!-- Menu principal -->
      <div class="navbar-section" *ngIf="!esconderNavbar">
        <ul>
          <li><a class="nav-links" href="#">Bolsa de Estudos</a></li>
          <li><a class="nav-links" (click)="goToContact()" >Contato</a></li>
        </ul>
      </div>

      <!-- Avatar do perfil (visível apenas no desktop) -->
      <app-profile-avatar></app-profile-avatar>
    </div>

    <!-- Menu mini/hamburger (visível apenas no mobile) -->
    <div class="menu-mini" (click)="toggleMenu()" *ngIf="!esconderNavbar">
      <a href="javascript:void(0)"><img src="assets/Menu.svg" alt="Menu Prol Educa" /></a>
    </div>
  </div>
</header>
