<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
      <div class="logo-container">
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="graduation-cap">
            <path d="M22 10v6M2 10l10-5 10 5-10 5z"></path>
            <path d="M6 12v5c0 2 2 3 6 3s6-1 6-3v-5"></path>
          </svg>
        </div>
        <span class="title" *ngIf="!isCollapsed">Menu</span>
      </div>
      <button class="toggle-btn" (click)="toggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>
    </div>
    <ul class="menu-items">
      <li *ngFor="let item of menuItems" 
          [class.active]="activeMenuItem === item.id"
          (click)="setActiveMenuItem(item.id)">
        <a href="javascript:void(0)">
          <span class="icon">
            <i class="material-icons">{{ item.icon }}</i>
          </span>
          <span class="label" *ngIf="!isCollapsed">{{ item.label }}</span>
        </a>
      </li>
      <li class="logout" (click)="logout()">
        <a href="javascript:void(0)" (click)="confirmarSaida()">
          <span class="icon">
            <i class="material-icons">logout</i>
          </span>
          <span class="label" *ngIf="!isCollapsed">Sair</span>
        </a>
      </li>
    </ul>
  </div>