link-voltar-site {
  font-size: 0.9rem;
  color: #4F46E5;
}

h4{
  color: #07075b;
}

button{
  background-color: #07075b;
  color: aliceblue;
  width: 35%;
}

a{
  font-size: 0.9rem;
  color: #4F46E5;
}