.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-custom {
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-header h5 {
  font-size: 20px;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.btn-clear {
  background: none;
  border: 1.5px solid #ccc;
  line-height: 1;
  cursor: pointer;
  color: #585757;
  transition: transform 0.1s ease;
  border-radius: 2px;

  &:hover {
    opacity: 0.8;
    transform: scale(1.05);
    cursor: pointer;
  }
}

.btn-search {
  background: #2020ab;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.1s ease;

  &:hover {
    background: #0056b3;
    transform: scale(1.05);
    cursor: pointer;
  }
}

//responsividade

.main-content {
  &.collapsed {
    margin-left: 70px;
  }

  @media (max-width: 800px) {
    margin-left: 70px;
    padding: 1rem;
  }
}

.filtros-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;

  .filtro-item {
    flex: 1 1 100%;

    @media (min-width: 768px) {
      flex: 1 1 48%;
    }

    @media (min-width: 992px) {
      flex: 1 1 20%;
    }
  }

  .filtro-botoes {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

.no-results-text {
  font-size: 1.5rem;

  @media (max-width: 800px) {
    font-size: 0.9rem;
  }

  @media (max-width: 576px) {
    font-size: 0.85rem;
  }
}

@media (max-width: 991.98px) {
  .btn-search,
  .btn-clear {
    flex: 1;
    min-width: 120px;
  }
}
