.page-background {
    background-color: #f4f4f4;
    padding-top: 20px;  /* Se você quiser um espaçamento extra entre o header e o conteúdo */
    min-height: 100vh;  /* Para garantir que o fundo cubra toda a área abaixo do cabeçalho */
  }
  