<div class="container mt-5">
  <!-- Filtros -->
  <div class="row mb-3">
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="filtroInstituicao">
        <option value="">Instituição</option>
        <option *ngFor="let instituicao of instituicoes" [value]="instituicao">
          {{ instituicao }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nome do curso"
        [(ngModel)]="filtroNome"
      />
    </div>
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="filtroTurno">
        <option value="">Turno</option>
        <option value="Matutino">Matutino</option>
        <option value="Vespertino">Vespertino</option>
        <option value="Noturno">Noturno</option>
        <option value="Integral">Integral</option>
      </select>
    </div>
    <div class="col-md-3 d-flex">
      <button class="btn btn-clear me-2" (click)="limparFiltros()">
        Limpar
      </button>
      <button class="btn btn-search" (click)="filtrarCursos()">Procurar</button>
    </div>
  </div>

  <div *ngIf="cursosPaginados.length > 0" class="mb-4">
    <!-- Tabela de cursos -->
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead class="table-light">
        <tr>
          <th>Tracking ID</th>
          <th>Nome</th>
          <th>Cód. Instituição</th>
          <th>Vagas</th>
          <th>Percentual Bolsa</th>
          <th>Valor Original</th>
          <th>Valor Desconto</th>
          <th>Turno</th>
          <th>Ano da Bolsa</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursosPaginados">
          <td>#{{ curso.trackingId }}</td>
          <td>{{ curso.nome }}</td>
          <td>{{ curso.codInstituicao }}</td>
          <td>{{ curso.vagas }}</td>
          <td>{{ curso.percentualBolsa }}%</td>
          <td>R$ {{ curso.valorOriginal }}</td>
          <td>R$ {{ curso.valorDesconto }}</td>
          <td>{{ curso.turno }}</td>
          <td>{{ curso.anoBolsa }}</td>
          <td>
            <button
              class="btn btn-link text-primary p-0 me-2"
              (click)="openDialogUpdate(curso)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
            <button
              class="btn btn-link text-danger p-0"
              (click)="openDialogDelete(curso)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="cursosPaginados.length === 0">
          <td colspan="9" class="text-center">Nenhum curso encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginação -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="paginaAtual === 1">
        <button class="page-link" (click)="mudarPagina(paginaAtual - 1)">
          Anterior
        </button>
      </li>
      <li
        *ngFor="let pagina of paginas"
        class="page-item"
        [class.active]="pagina === paginaAtual"
      >
        <button class="page-link" (click)="mudarPagina(pagina)">
          {{ pagina }}
        </button>
      </li>
      <li class="page-item" [class.disabled]="paginaAtual === totalPaginas">
        <button class="page-link" (click)="mudarPagina(paginaAtual + 1)">
          Próximo
        </button>
      </li>
    </ul>
  </nav>
  </div>


  <div *ngIf="cursosPaginados.length === 0" class="text-center mt-5">
    <p class="fs-5 text-muted">
      Nenhum curso encontrado com os filtros selecionados.
    </p>
    <button class="btn btn-outline-primary" (click)="limparFiltros()">
      Limpar filtros
    </button>
  </div>
</div>
