<div class="container-fluid py-5 px-4">
  <div class="row justify-content-between align-items-center">


    <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
      <h5 class="fw-bold fs-6">Clique e fale com a gente</h5>
      <div
        class="d-flex align-items-center gap-2 justify-content-center justify-content-md-start mt-2"
      >
        <div
          class="bg-card text-white rounded-circle d-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px"
        >
          <i class="bi bi-whatsapp fs-5"></i>
        </div>
        <div class="cell rounded text-white fw-bold">
          <a class="text-decoration-none" href="https://wa.me/558191297982">
            (81) 9 9129-7982</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center text-md-end d-flex flex-column">
      <div>
        <h5 class="fw-bold fs-6">Nos siga nas Redes Sociais</h5>
      </div>
      <div class="network">
        <div class="d-flex justify-content-center justify-content-md-end gap-3">
          <div
            class="bg-card text-white rounded-circle d-flex align-items-center justify-content-center shadow"
            style="width: 35px; height: 35px"
          >
           <a href="https://www.facebook.com/proleduca/"> <i class="bi bi-facebook"></i></a>
          </div>
          <div
            class="bg-card text-white rounded-circle d-flex align-items-center justify-content-center shadow"
            style="width: 35px; height: 35px"
          >
            <a href="https://www.instagram.com/proleduca/"><i class="bi bi-instagram"></i></a>
          </div>
          <div
            class="bg-card text-white rounded-circle d-flex align-items-center justify-content-center shadow"
            style="width: 35px; height: 35px"
          >
            <a href="https://www.linkedin.com/company/prol-educa/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
