.cell {
  padding: 4px;
  background: linear-gradient(90deg, #00e676, #002984);
}

a {
  color: #f6f6f7;
}


.bg-card{
  background-color: #002984;
  color: #f6f6f7;
  cursor: pointer;
}


.network {
  padding-right: 2rem;
}
